
<div class="top-banner">
    <div class="container">
        <div class="row">
            <div class="col-6 mt-10">
                <h1 class="pink">Find the Most Exciting Place For</h1>
                <h2 class="animate__animated animate__fadeOutRight animate__infinite animate__slower blue">Jobs and Internship</h1>
                <h5>Get Discovered.Get Hired.</h3>

                <a class="btn btn-primary" href="/jobs" role="button">I'm a Job Seeker</a>

                <!-- <button class="btn btn-primary">I'm a Recruiter</button> -->
                    <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            I'm a Recruiter
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Experience Easily!</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="border border-dark rounded p-1" action="/register" method="post">
                    <div class="input-group mt-3 mb-3 px-3">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="name" required>
                      </div>
                      <div class="input-group mb-3 px-3">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                        <input type="email" class="form-control" placeholder="email" aria-label="Username" aria-describedby="basic-addon1" name="email" required>
                      </div>
                      <div class="input-group mb-3 px-3">
                        <span class="input-group-text" id="basic-addon1">Password</span>
                        <input type="password" class="form-control" placeholder="password" aria-label="Username" aria-describedby="basic-addon1" name="password" required>
                      </div>  
                      <div class=" mb-3 px-3">
                        <button class="btn btn-light " style="background-color: #F42C8A; color: white;" type="submit">Submit</button>
                      </div>
                    </form>  
                </div>
                <div class="modal-footer d-flex justify-content-start">
                        <p class="text-muted">Already Registered?</p>
                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title text-success fs-5" id="exampleModalLabel">Experience Easily!</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="p-1" action="/login" method="post">
                        <div class="input-group mb-3 px-3">
                            <span class="input-group-text" id="basic-addon1">Email</span>
                            <input type="email" class="form-control" placeholder="email" aria-label="Username" aria-describedby="basic-addon1" name="email">
                          </div>
                          <div class="input-group mb-3 px-3">
                            <span class="input-group-text" id="basic-addon1">Password</span>
                            <input type="password" class="form-control" placeholder="password" aria-label="Username" aria-describedby="basic-addon1" name="password">
                          </div>  
                          <div class=" mb-3 px-3">
                            <button class="btn btn-light " style="background-color: #F42C8A; color: white;" type="submit">Login</button>
                          </div>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
            </div>
        </div>
    </div>
</div>
