<div class="post-job" >
    <div class="container">
        <div class="d-flex justify-content justify-content-center">
        <form action="/postjob" method="post" class="mt-5 border-top border-start border-4 border-primary rounded col-6" style="background-color: white;">
          
            <h2 class="text-center fw-normal">Post a new job</h2>

             
            <div class="input-group mb-3 px-3">
                <select class="form-select" aria-label="Default select example" name="category">
                    <option>Select a job category</option>
                    <option value="Tech">Tech</option>
                    <option value="Non Tech">Non Tech</option>
                  </select>
                </div>


            <div class="input-group mb-3 px-3">
            <select class="form-select" aria-label="Default select example" name="designation">
                <option >Select job designation</option>
                <option value="HR">HR</option>
                <option value="SDE">SDE</option>
                <option value="DevOps">DevOps</option>
                <option value="MERN Developer">MERN Developer</option>
                <option value="MEAN Developer">MEAN Developer</option>
                <option value="Java Developer">Java Developer</option>
                <option value="Front-End Developer">Front-End Developer</option>
                <option value="Back-End Developer">Back-End Developer</option>
                <option value="Full-Stack Developer">Full-Stack Developer</option>
              </select>
            </div>

            
            
                <div class="mb-3 px-3">
                    <label for="exampleInputPassword1" class="form-label">Enter job location</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="location">
                  </div>

                  <div class="input-group mt-3 mb-3 px-3">
                    <span class="input-group-text" id="basic-addon1">Company Name</span>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="Cname" required>
                  </div>  

                  <div class=" d-flex mb-3 px-3">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="enter salary" name="salary">
                    <span class="input-group-text" id="basic-addon1">Total Positions</span>
                    <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="positions" required>
                  </div>

                  <div class="input-group mb-3 px-3 d-flex">
                    <select class="form-select" aria-label="Default select example" multiple name="skills">
                        <option >Select skills required for this job</option>
                        <option value="React">React</option>
                        <option value="NodeJs">NodeJs</option>
                        <option value="Angular">Angular</option>
                        <option value="Spring Boot">Spring Boot</option>
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Bootstrap">Bootstrap</option>
                      </select>
                      <span class="input-group-text" id="basic-addon1">Apply By</span>
                      <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="date" required>
                    </div>

                    <div class="d-grid gap-2 mb-3 px-3">
                        <button class="btn btn-success" type="submit">Submit</button>
                        </div>
        </form>
    </div>
    </div>
</div>