<div style="background-color: white; height: 100vh; width: 98.9vw;">
<div class="text-center my-5">
    <h1>Registration Form</h1>

    </div>

<form action="/register" method="post">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control mb-3" id="name" name="name" required>

    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control mb-3" id="email" name="email" required>

    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control mb-3" id="password" name="password" required>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
</div>